<div class="site-error">

    <h1>{{ Html.encode(name) }}</h1>

    <div class="alert alert-danger">
        {{ message | nl2br | raw }}
    </div>

    <p>
        The above error occurred while the Web server was processing your request.
    </p>
    <p>
        Please contact us if you think this is a server error. Thank you.
    </p>

</div>
