<div class="site-index">
    <div class="row">
        <div class="col-lg-12">
            <h2>Customers list</h2>
            <table class="table table-striped">
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Status</td>
                    <td>Link</td>
                </tr>
                {% for customer in model.getCustomers() %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.status }}</td>
                        <td><a href="view?id={{ customer.id }}">services</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
