<div class="site-view">
    <div class="row">
        <div class="col-lg-12">
            <h2>Services list</h2>

            <table class="table table-striped">
                {% for service in model.getInternetServices() %}
                <tr>
                    <th>Internet services:</th>
                </tr>
                <tr>
                    <th>id</th>
                    <th>customer id</th>
                    <th>tariff id</th>
                    <th>status</th>
                    <th>description</th>
                </tr>
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.customer_id }}</td>
                    <td>{{ service.tariff_id }}</td>
                    <td>{{ service.status }}</td>
                    <td>{{ service.description }}</td>
                </tr>
            </table>
            {% endfor %}
            {% for service in model.getVoiceServices() %}
                <table class="table table-striped">
                    <tr>
                        <th>Voice services:</th>
                    </tr>
                    <tr>
                        <th>id</th>
                        <th>customer id</th>
                        <th>tariff id</th>
                        <th>status</th>
                        <th>description</th>
                    </tr>
                    <tr>
                        <td>{{ service.id }}</td>
                        <td>{{ service.customer_id }}</td>
                        <td>{{ service.tariff_id }}</td>
                        <td>{{ service.status }}</td>
                        <td>{{ service.description }}</td>
                    </tr>
                </table>
            {% endfor %}
            {% for service in model.getCustomServices() %}
                <table class="table table-striped">
                    <tr>
                        <th>Custom services:</th>
                    </tr>
                    <tr>
                        <th>id</th>
                        <th>customer id</th>
                        <th>tariff id</th>
                        <th>status</th>
                        <th>description</th>
                    </tr>
                    <tr>
                        <td>{{ service.id }}</td>
                        <td>{{ service.customer_id }}</td>
                        <td>{{ service.tariff_id }}</td>
                        <td>{{ service.status }}</td>
                        <td>{{ service.description }}</td>
                    </tr>
                </table>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
